*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f6ebda73;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 15px;
  font-weight: 900;
}

span {
  color: #ff0000;
}

h3 {
  color: #ff0000;
}

h4 {
  color: #4b8697;
}

.result-blk {
  background-color: #d9ebf1;
}
